<%- include ("./templates/header") %>

    <main class="contenedor-body">
        <div class="text-main">
            <h1>Final piece</h1>
            <h2>Build a complete life.</h2>
            <a href="#"> <button class="btn btn-primary btn-naranja">Apoyar este proyecto</button></a>
        </div>
        <img src="/img/undraw_Mobile_login_re_9ntv.png" alt="Promo-FP">
    </main>

    <section class="intro contenedor-body">
        <h2>Obtén tiempo para las cosas que realmente disfrutas</h2>
        <p>Final Piece te permite organizar tu tiempo y con ello dedicar cada día unos minutos a hacer actividades que te gusten.</p>
    </section>

    <section class="mockups">
        <img src="/img/mockup.jpeg" alt="mockup1">
        <img src="/img/mockup.jpeg" alt="mockup2">
        <img src="/img/mockup.jpeg" alt="mockup3">
        <img src="/img/mockup.jpeg" alt="mockup4">
        <img src="/img/mockup.jpeg" alt="mockup5">
    </section>

    <section class="newsletter">
        <div class="content">
            <p>Suscríbete a nuestro newsletter para recibir actualizaciones</p>
            <div class="input-group mb-3 input">
                <input type="text" name="email-newsletter" class="form-control" placeholder="Ingresa tu correo electrónico" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Enviar</button>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>

    </html>